{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<?xml version="1.0" encoding="utf-8"?>

<f:layout name="Default" />

<f:section name="main">

	<f:for each="{findresults}" as="find">	
	
		<div class="breadcrumbtext">
			<b><f:translate key="rs_youarehere" /></b><a href=""><f:translate key="rs_factsheet" />: {find.traeger_typ} <f:translate key="rs_factsheet_of" /> {find.beschreibung_de}</a>
			<div class="flags">
				<a id="feedbackBtn"><f:translate key="report_error" /></a>
				<f:link.page pageUid="{settings.single_page}" addQueryString="1" argumentsToBeExcludedFromQueryString="{id:1}" additionalParams="{L: 0}" noCacheHash="1"><img src="/fileadmin/runes/icons/flag_de.png" /></f:link.page>
				<f:link.page pageUid="{settings.single_page}" addQueryString="1" argumentsToBeExcludedFromQueryString="{id:1}" additionalParams="{L: 1}" noCacheHash="1"><img src="/fileadmin/runes/icons/flag_en.png" /></f:link.page>
			</div>
		</div>
	
		<div class="pagetitle">
				<h1><f:translate key="rs_factsheet" />: {find.traeger_typ} <f:translate key="rs_factsheet_of" /> {find.beschreibung_de}</h1>
		</div>
		
		<div class="content large">			
			<div class="element no-top-radius">
			<div>
			
			<script>
			  function initMap() {
				var uluru = <![CDATA[{]]>lat: {find.g_lat}, lng: {find.g_long}<![CDATA[}]]>;
				var map = new google.maps.Map(document.getElementById('map'), {
				  zoom: 12,
				  center: uluru
				});
				var marker = new google.maps.Marker({
				  position: uluru,
				  map: map
				});
			  }
			</script>
			<script async defer
			src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC4Gv_xvPY58mlcZd6jxFAroCjnOtv4c0w&callback=initMap">
			</script>
			
			<div id="map"></div>
			
			<div class="element seemless">
					<table style="padding: 0px 5px 0px 5px;">
						<tr>
							<td class="caption"><f:translate key="rs_sigils" /></td><td class="value">
								<f:for each="{sigils}" as="sigil" iteration="iter">
									<f:if condition="{iter.index} > 0">
										<f:then>|</f:then>
									</f:if>
									<f:if condition="{sigil.ist_hauptsigle} == 0">
										<f:then>{sigil.sigle}</f:then>
										<f:else><b>{sigil.sigle}</b></f:else>
									</f:if>
								</f:for>							
							</td> 
						</tr>
						<tr>
							<td class="caption"><f:translate key="rs_fundort" /></td><td class="value">{find.beschreibung_de} ({find.gemeinde}, {find.bezirk}, {find.landschaft}, {find.land})</td> 
						</tr>
				<!-- 
						
				-->
						<tr>
							<td class="caption"><f:translate key="rs_gis_daten" /></td><td class="value">({find.g_lat}, {find.g_long})</td> 
						</tr>
						<tr>
							<td class="caption"><f:translate key="rs_kontext" /></td><td class="value">{find.kontext}</td> 
						</tr>
						<tr>
							<td class="caption"><f:translate key="rs_extdat" /></td><td class="value">{find.dat_extern_von}-{find.dat_extern_bis}</td>
						</tr>
						<tr>
							<td class="caption"><f:translate key="rs_datart" /></td><td class="value">{find.dat_art}</td> 
						</tr>
						<tr>
							<td class="caption"><f:translate key="rs_translit" /></td><td class="value">{find.translit}</td> 
						</tr>
						<tr>
							<td class="caption"><f:translate key="rs_translat" /></td><td class="value">{find.uebersetzung_de}</td>
						</tr>
				 
						<tr>
							<td class="caption"><f:translate key="rs_kommentar" /></td><td class="value">{find.kommentar_de}</td>
						</tr>
				
					</table>
			</div>
			
			<div class="title">
				<h3><f:translate key="rs_header_obj" /></h3>
			</div>
			<div class="element bordered">
				<div class="tablefloaters borderright">
					<table>
						<tr>
							<td class="caption"><f:translate key="rs_traeger" /></td><td class="value">{find.traeger_typ}</td> 
						</tr>
						<tr>
							<td class="caption"><f:translate key="rs_suffix" /></td><td class="value">{find.suffix_de}</td> 
						</tr>
						<tr>
							<td class="caption"><f:translate key="rs_objtyp" /></td><td class="value">{find.obj_typ_de}</td> 
						</tr>
						<tr>
							<td class="caption"><f:translate key="rs_objklasse" /></td><td class="value">{find.obj_class_de}</td> 
						</tr>
					</table>
				</div>
				<div class="tablefloaters borderright">
					<table>
						<tr>
							<td class="caption"><f:translate key="rs_mat" /></td><td class="value">{find.mat_de}</td> 
						</tr>
						<tr>
							<td class="caption"><f:translate key="rs_matklasse" /></td><td class="value">{find.matclass_de}</td> 
						</tr>
						<tr>
							<td class="caption"><f:translate key="rs_matdetail" /></td><td class="value">{find.material_spezial}</td>
						</tr>
						<tr>
							<td class="caption"><f:translate key="rs_abmessung" /></td><td class="value">{find.abmessungen}</td> 
						</tr>
					</table>
				</div>
				<div class="tablefloaters">
					<table>
						<tr>
							<td class="caption"><f:translate key="rs_fundjahr" /></td><td class="value">{find.fundjahr}</td> 
						</tr>
						<tr>
							<td class="caption"><f:translate key="rs_objZustand" /></td><td class="value">{find.obj_zustand_de}</td>
						</tr>
						<tr>
							<td class="caption"><f:translate key="rs_objVollst" /></td><td class="value">{find.obj_vollst_de}</td> 
						</tr>
					</table>
				</div>
				<br style="clear:both;">
			</div>

			<div class="title">
				<h3><f:translate key="rs_header_ins" /></h3>
			</div>
			<div class="element bordered">
				<div class="tablefloaters borderright">
					<table>
						<tr>
							<td class="caption"><f:translate key="rs_runenreihe" /></td><td class="value">{find.ins_runenreihe}</td> 
						</tr>
						<tr>
							<td class="caption">&nbsp;</td><td class="value"></td> 
						</tr>
					</table>
				</div>
				<div class="tablefloaters borderright">
					<table>
						<tr>
							<td class="caption"><f:translate key="rs_insVollst" /></td><td class="value">{find.ins_vollstaendig}</td> 
						</tr>
						<tr>
							<td class="caption"><f:translate key="rs_insZustand" /></td><td class="value">{find.ins_zustand}</td> 
						</tr>
					</table>
				</div>
				
				<div class="tablefloaters">
					<table>
						<tr>
							<td class="caption"><f:translate key="rs_kategorie" /></td><td class="value">{find.inschrift_charakter}</td> 
						</tr>
						<tr>
							<td class="caption"><f:translate key="rs_beizeichen" /></td><td class="value"><f:translate key="{find.hat_beizeichen}" /></td>
						</tr>
					</table>
				</div>
				
					<br style="clear:both;">
						</div>						
	
	
					</div>
				
				</div>
				
			</div>

							
			<div class="sidebar small">
				
				<div class="element bordered">
					<div>
						<div id="case-items">
							<f:for each="{images}" as="image">
							 	<img src="{image.link}" style="width: 100%; height: auto; margin: 0px 0px 5px 0px;">
							</f:for>
						</div>
					</div>
				</div>
				
				<div class="title">
					<h3><f:translate key="rs_aufbOrt" /></h3>
				</div>

				<div class="element bordered">
					<div>
						<div id="case-items">
						
							<f:switch expression="{find.aufb_modus}">
							  	<f:case value="0"><f:translate key="rs_auf_unbekannt" /></f:case>
							  	<f:case value="1"><f:translate key="rs_auf_verloren" /></f:case>
							  	<f:case value="2"><f:translate key="rs_auf_situ" /></f:case>
							  	<f:case value="3">
									<f:for each="{museum}" as="mus">
										<b>{mus.name}</b><br/>
										<f:if condition="{mus.url}"><f:then>
										<f:translate key="rs_website" />: <a href="{mus.url}">{mus.url}</a><br/>
										</f:then></f:if>
									</f:for>
									<f:translate key="rs_invNummer" />: {find.inventarnummer}
								</f:case>
								<f:case value="4"><f:translate key="rs_privatbesitz" /></f:case>
								<f:case value="5"><f:translate key="rs_anderer_AufbewOrt" /></f:case>
							  	<f:case default="TRUE"><f:translate key="rs_keineInfo" /></f:case>
							</f:switch>
						
						</div>
					</div>
				</div>
				
				<div class="title">
					<h3><f:translate key="rs_weitereLinks" /></h3>
				</div>
				<div class="element bordered">
					<div>
						<div id="case-items">
						<center>
							<a href="http://www.runenprojekt.uni-kiel.de/abfragen/steckbrief2.asp?findno=156&AFB=H"><f:translate key="rs_runenprojekt" /></a><br>
							<a href="http://www.runenprojekt.uni-kiel.de/abfragen/steckbrief2.asp?findno=156&AFB=H"><f:translate key="rs_runerdk" /></a><br>
							<a href="http://www.runenprojekt.uni-kiel.de/abfragen/steckbrief2.asp?findno=156&AFB=H"><f:translate key="rs_aehnlicheFunde" /></a><br>
							<a href="http://www.runenprojekt.uni-kiel.de/abfragen/steckbrief2.asp?findno=156&AFB=H"><f:translate key="rs_druckversion" /></a><br>
							<br />
							<v:variable.set name="prevFind" value="{findno}-1" />
							<v:variable.set name="nextFind" value="{findno}+1" />
							<f:link.action action="steckbrief" arguments="{findno : prevFind}" class="alphabet_link"><f:translate key="rs_vorFund" /></f:link.action><br />
							<f:link.action action="steckbrief" arguments="{findno : nextFind}" class="alphabet_link"><f:translate key="rs_naechsFund" /></f:link.action>  
						</center>
						</div>
					</div>
				</div>
			</div>
				
			<br style="clear:both">

		</div>
		
		
		
	<!-------------------------------- The Feedback Modal -------------------------->
	<div id="feedbackModal" class="modal">
	
	  <!-- Modal content -->
	  <div class="modal-content">
	    <div class="title">
	      <span class="closeFeedback"><img src="fileadmin/runes/icons/cancel_16_white.png"></span>
	      <h3><f:translate key="rs_errorReportHead" /></h3>
	    </div>
	    <div class="modal-body">
	
	      <f:form method="post" action="errorReport" id="contact"  arguments="{personName:personName}">
	      	<p class="formtext">
	      		<f:translate key="rs_errorReportText" />
	      		<br /><br />
	      		<b><f:translate key="rs_seite" />:</b> <f:translate key="rs_factsheet" />: {find.traeger_typ} <f:translate key="rs_factsheet_of" /> {find.beschreibung_de} (Findno: {find.findno})<br />
	      		<b><f:translate key="rs_datum" />:</b> <f:format.date format="d.m.Y H:i:s" date="now" />
	      	</p>
	      	<f:form.textfield type="hidden" name="internalMessage" value="<b>RuneS</b><br /><b>Seite:</b> Steckbrief: {find.traeger_typ} von {find.beschreibung_de} (Findno: {find.findno})<br /><b>Datum:</b> <f:format.date format='d.m.Y H:i:s' date='now' />" />
	      	<fieldset>
		    	 <f:form.textfield name="personName" placeholder="<f:translate key='rs_ihrName' />" value="" />
		     </fieldset>
		     <fieldset>
		    	 <f:form.textfield name="personMail" placeholder="<f:translate key='rs_ihreEmail' />" value="" type="email" />
		    </fieldset>
		    <fieldset>
		    	<f:form.textarea name="personMessage" placeholder="<f:translate key='rs_ihreNachricht' />" value="" />
		    </fieldset>
		    <fieldset>
		    	<f:form.submit value="<f:translate key='rs_absenden' />" name="submit" id="contact-submit" />
		    </fieldset>
		    
		  </f:form>
	    </div>
	   </div>
	
	</div>
	
	<script>
		// Get the modal
		var modal = document.getElementById('feedbackModal');
		
		// Get the button that opens the modal
		var btn = document.getElementById("feedbackBtn");
		
		// Get the <span> element that closes the modal
		var span = document.getElementsByClassName("closeFeedback")[0];
		
		// When the user clicks the button, open the modal 
		btn.onclick = function() {
		    modal.style.display = "block";
		}
		
		// When the user clicks on <span> (x), close the modal
		span.onclick = function() {
		    modal.style.display = "none";
		}
		
		// When the user clicks anywhere outside of the modal, close it
		window.onclick = function(event) {
		    if (event.target == modal) {
		        modal.style.display = "none";
		    }
		}
	</script>
	
	</f:for>
</f:section>